* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculadora{
    width: 300px
}
#display {
    background-color: #333;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: #222;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

button{
    background-color: #444;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#historico{

    background-color: #222222;
    color: white;
    width: 300px;
    margin: 10px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
}

button:hover {
    background-color: #555;
}
.btn-igual{
    background-color: orange;
}
.btn-limpar{
    background-color: red;
}
.btn-apagar{
    background-color: orangered;
}